<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tap.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAll</servlet-name>
    <servlet-class>com.fooddelivery.servlets.GetAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAll</servlet-name>
    <url-pattern>/GetAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShowMenu</display-name>
    <servlet-name>ShowMenu</servlet-name>
    <servlet-class>com.fooddelivery.servlets.ShowMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMenu</servlet-name>
    <url-pattern>/ShowMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.foodapp.register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.foodapp.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCart</display-name>
    <servlet-name>UpdateCart</servlet-name>
    <servlet-class>com.foodapp.servlet.UpdateCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCart</servlet-name>
    <url-pattern>/UpdateCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClearCart</display-name>
    <servlet-name>ClearCart</servlet-name>
    <servlet-class>com.foodapp.servlet.ClearCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClearCart</servlet-name>
    <url-pattern>/ClearCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.foodapp.servlets.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCartItem</display-name>
    <servlet-name>DeleteCartItem</servlet-name>
    <servlet-class>com.fooddelivery.servlets.DeleteCartItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartItem</servlet-name>
    <url-pattern>/DeleteCartItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistory</display-name>
    <servlet-name>OrderHistory</servlet-name>
    <servlet-class>com.foodapp.servlets.OrderHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistory</servlet-name>
    <url-pattern>/OrderHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderItemDetailsServlet</display-name>
    <servlet-name>OrderItemDetailsServlet</servlet-name>
    <servlet-class>com.fooddelivery.servlets.OrderItemDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemDetailsServlet</servlet-name>
    <url-pattern>/OrderItemDetailsServlet</url-pattern>
  </servlet-mapping>
</web-app>